## Data Types

#### Variables

In [1]:
print("hello world")

hello world

In [2]:
msg = "Hello world"
print(msg)

Hello world

In [3]:
msg = 2
print(msg)

2

In [4]:
name = "suraphop"
employee_number = "J6639"
employee_number_nmb = "J6639"

Name = "suraphop"

In [5]:
employee_number = "J6639"
emp_number = "J6639"
emp_no = "J6639"

In [6]:
#1name = "suraphop"
#name_1 = "suraphop"
#$name = "suraphop"

### Numberic Types

In [7]:
msg = "4"
type(msg)

str

In [8]:
msg = 4
type(msg)

int

In [9]:
msg = 4.4
type(msg)

float

In [10]:
msg = 4
float(msg)

4.0

In [11]:
msg = 4.9
int(msg)

4

In [12]:
msg = 4 
str(msg)

'4'

### Operator

In [13]:
4+3

7

In [14]:
3.1-2.4

0.7000000000000002

In [15]:
3*4

12

In [16]:
3/4

0.75

In [17]:
3**4

81

In [18]:
3 * (3+4)

21

#### Line Continuation

In [19]:
a = (1+3
+3)
a

7

In [20]:
a = 1+3
+3
a

4

In [21]:
a = 1+3 \
+3
a

7

#### Booleans

In [22]:
3 == 4

False

In [23]:
4 == 4

True

In [24]:
3 != 4

True

In [25]:
3 < 4

True

In [26]:
3 <= 4

True

In [27]:
10 < 12 < 16

True

In [28]:
True

True

In [29]:
False

False

In [30]:
not True

False

In [31]:
not False

True

In [32]:
False and True

False

In [33]:
False or True

True

In [34]:
bool("")

False

In [35]:
bool("some text")

True

In [36]:
msg = ""
bool(msg)

False

## Comments

In [37]:
# This is a sample comment
# This is a sample comment2
3+4

7

In [38]:
3+4 # This a sample comment

7

In [39]:
'''comment with single quote
2 line'''
3+4

7

In [40]:
""" comment with double quote """
3+4

7

### Strings

In [41]:
print("Hello world")

Hello world

In [42]:
print('Hello world')

Hello world

In [43]:
print("This 's easy to learn python")

This 's easy to learn python

In [44]:
print("string1"+"  "+ 'string2')

string1  string2

In [45]:
msg = "msg2"
print("string1"+"  "+ 'string2'+"  "+ msg)

string1  string2  msg2

In [46]:
#f-string function
msg = "easy"
msg2 = "vary"
print(f"Python is {msg2} {msg}")

Python is vary easy

In [47]:
first_msg = "free"
second_msg = "open source"

In [48]:
first_msg,second_msg = "free","open source"
print(first_msg)
print(second_msg)

free
open source

In [49]:
first_msg,_ = "free","open source"
print(first_msg)

free

In [50]:
_,second_msg = "free","open source"
print(second_msg)

open source

In [51]:
"PYTHON".lower()

'python'

In [52]:
"python".upper()

'PYTHON'

In [53]:
second_msg.upper()

'OPEN SOURCE'

## CONSTANT

In [54]:
TEMPERATURE_SCALES = ("fahrenheit",'kelvin',"celsius")
print(TEMPERATURE_SCALES)
TEMPERATURE_SCALES = ("fahrenheit2",'kelvin2',"celsius2")
print(TEMPERATURE_SCALES)

('fahrenheit', 'kelvin', 'celsius')
('fahrenheit2', 'kelvin2', 'celsius2')

## Indexing and Slicing

In [55]:
language = "PYTHON"

In [56]:
language[0]

'P'

In [57]:
language[1]

'Y'

In [58]:
language[-1]

'N'

In [59]:
language[-2]

'O'

In [60]:
language[5]

'N'

In [61]:
language[0:3]

'PYT'

In [62]:
language[:3]

'PYT'

In [63]:
language[1:]

'YTHON'

In [64]:
language[-3:]

'HON'

In [65]:
msg = "value","value"

## Data structures

#### Lists

In [66]:
file_names = ["one.xlsx","two.xlsx","three.xlsx"]
print(file_names)
print(type(file_names))

['one.xlsx', 'two.xlsx', 'three.xlsx']
<class 'list'>

In [67]:
numbers = [1,2,3]
numbers

[1, 2, 3]

In [68]:
datas = ["one.xlsx",1,"two.xlsx",2]
datas

['one.xlsx', 1, 'two.xlsx', 2]

In [69]:
file_names + numbers

['one.xlsx', 'two.xlsx', 'three.xlsx', 1, 2, 3]

In [70]:
nested_lists = [[1,2,3],[4,5,6],[7,8,9]]
nested_lists

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [71]:
nested_lists[0]

[1, 2, 3]

In [72]:
nested_lists[1]

[4, 5, 6]

In [73]:
nested_lists[0][0]

1

In [74]:
nested_lists[0][1:]

[2, 3]

In [75]:
users = ["linda","Brian"]
users

['linda', 'Brian']

In [76]:
users[0] = "suraphop"
users

['suraphop', 'Brian']

In [77]:
users.append("Jennifer")
users

['suraphop', 'Brian', 'Jennifer']

In [78]:
users.insert(0,"Kim")
users

['Kim', 'suraphop', 'Brian', 'Jennifer']

In [79]:
users.pop()
users

['Kim', 'suraphop', 'Brian']

In [80]:
users.pop(0)
users

['suraphop', 'Brian']

In [81]:
del users[0]
users

['Brian']

#### working with list

In [82]:
len(users)

1

In [83]:
users.append("suraphop")
len(users)

2

In [84]:
users

['Brian', 'suraphop']

In [85]:
"suraphop" in users

True

In [86]:
"Suraphop" in users

False

In [87]:
"van" in users

False

In [88]:
"XS" in "XSOKKIS"

True

In [89]:
users

['Brian', 'suraphop']

In [90]:
users.sort()
users

['Brian', 'suraphop']

In [91]:
users.sort(reverse=True)
users

['suraphop', 'Brian']

#### Dictionaries

In [92]:
exchange_rates = {"EURUSD":1.1152 , "GBPUSD":1.2452 , "AUDUSD": 0.6161}
print(exchange_rates)
print(type(exchange_rates))

{'EURUSD': 1.1152, 'GBPUSD': 1.2452, 'AUDUSD': 0.6161}
<class 'dict'>

In [93]:
exchange_rates["EURUSD"]

1.1152

In [94]:
exchange_rates["EURUSD"] = 1.2
exchange_rates

{'EURUSD': 1.2, 'GBPUSD': 1.2452, 'AUDUSD': 0.6161}

In [95]:
exchange_rates["EURJPY"] = 144.81
exchange_rates

{'EURUSD': 1.2, 'GBPUSD': 1.2452, 'AUDUSD': 0.6161, 'EURJPY': 144.81}

In [96]:
del exchange_rates["EURJPY"]
exchange_rates

{'EURUSD': 1.2, 'GBPUSD': 1.2452, 'AUDUSD': 0.6161}

In [97]:
exchange_rates.pop("GBPUSD")
exchange_rates

{'EURUSD': 1.2, 'AUDUSD': 0.6161}

#### Tuple

In [98]:
currencies = ("EUR","GBP","AUD")
print(currencies)
#currencies[0] = "AAA"
print(type(currencies))

('EUR', 'GBP', 'AUD')
<class 'tuple'>

In [99]:
currencies + ("SGD",)

('EUR', 'GBP', 'AUD', 'SGD')

#### Set

In [100]:
portfolio_1 = {"USD","EUR","SGD","CHF"}
portfolio_2 = {"EUR","SGD","CAD"}

In [101]:
portfolio_1.union(portfolio_2)

{'CAD', 'CHF', 'EUR', 'SGD', 'USD'}

In [102]:
portfolio_1.intersection(portfolio_2)

{'EUR', 'SGD'}

## Control flow

#### If statement

In [103]:
#value checking
i = 6

if i < 5:
    print("i is smaller than 5")
elif i <= 10:
    print("i is between 5 and 10")
elif i <= 15:
    print("i is between 10 and 15")
else:
    print("out of range")

i is between 5 and 10

In [104]:
color = "black"

if color == 'black':
    print("color is black")

color is black

In [105]:
#flag checking
#is_important = True
is_important = False

if is_important:
    print("This is an important")
else:
    print("This is not important")

This is not important

In [106]:
is_important = False

print("This is an important") if is_important else print("This is not important")

This is not important

#### For and While loops

In [107]:
currencies = ["USD","HKD","AUD"]
currencies

['USD', 'HKD', 'AUD']

In [108]:
for currencie in currencies:
    print(currencie)

USD
HKD
AUD

In [109]:
for i in currencies:
    print(i)

USD
HKD
AUD

In [110]:
for i,currencie in enumerate(currencies):
    print(i,currencie)

0 USD
1 HKD
2 AUD

In [111]:
exchange_rates = {"EURUSD":1.1152 , "GBPUSD":1.2452 , "AUDUSD": 0.6161}
print(exchange_rates)

{'EURUSD': 1.1152, 'GBPUSD': 1.2452, 'AUDUSD': 0.6161}

In [112]:
for exchange_rate in exchange_rates:
    print(exchange_rate)

EURUSD
GBPUSD
AUDUSD

In [113]:
for exchange_rate in exchange_rates.keys():
    print(exchange_rate)

EURUSD
GBPUSD
AUDUSD

In [114]:
for exchange_rate in exchange_rates.values():
    print(exchange_rate)

1.1152
1.2452
0.6161

In [115]:
for exchange_rate in exchange_rates.items():
    print(exchange_rate)

('EURUSD', 1.1152)
('GBPUSD', 1.2452)
('AUDUSD', 0.6161)

#### loops structure

In [116]:
for i in range(15):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [117]:
for i in range(15):
    if i == 10:
        break
    else:
        print(i)

0
1
2
3
4
5
6
7
8
9

In [118]:
for i in range(15):
    if i == 2:
        continue
    else:
        print(i)

0
1
3
4
5
6
7
8
9
10
11
12
13
14

In [119]:
for i in range(1,5):
    print(i)
print("end")

1
2
3
4
end

In [120]:
n = 0
while n <= 10:
    print(n)
    n += 2
    print(f'n = {n}')
print("end")

0
n = 2
2
n = 4
4
n = 6
6
n = 8
8
n = 10
10
n = 12
end

## Functions

In [121]:
def test():
    """for print hello world"""
    print("Hello world")
test()

Hello world

In [122]:
def calculator(input_1,input_2):
    """plus 2 digit"""
    result = input_1 + input_2
    return result
calculator(10,5)

15

In [123]:
def calculator(input_1,input_2):
    """plus 2 digit"""
    result = input_1 + input_2
    if result < 10:
        msg = 'ok'
    else:
        msg = 'ng'
    return result,msg

print(calculator(10,5))
print(calculator(2,5))

(15, 'ng')
(7, 'ok')

In [124]:
result,msg = calculator(2,5)
print(result)
print(msg)

7
ok

In [125]:
result,msg = calculator(input_2=2,input_1=5)
print(result)
print(msg)

7
ok

In [126]:
def convert_to_celsius(degrees,source='fahrenhite'):
    '''convert celsius from fahtenhite or kelvin'''
    if source.lower() == 'fahrenhite':
        return (degrees-32)* (5/9)
    elif source.lower() == 'kelvin':
        return degrees - 273.15
    else:
        return f"Don't know how to convert from {source}"

In [127]:
convert_to_celsius(100)

37.77777777777778

In [128]:
convert_to_celsius(100,"Kelvin")

-173.14999999999998

In [129]:
convert_to_celsius(degrees=100,source="kelvin")

-173.14999999999998

In [130]:
convert_to_celsius(source="kelvin",degrees=100)

-173.14999999999998

## Modules

In [136]:
import temperature

In [135]:
temperature.convert_to_celsius(100)

37.77777777777778

In [134]:
temperature.TEMPERATURE_SCALES

('fahrenhite', 'kelvin')

In [137]:
import temperature as tp

In [138]:
tp.TEMPERATURE_SCALES

('fahrenhite', 'kelvin')

In [139]:
tp.convert_to_celsius(100)

37.77777777777778

In [142]:
from temperature import convert_to_celsius,TEMPERATURE_SCALES

In [141]:
convert_to_celsius(100)

37.77777777777778

In [143]:
TEMPERATURE_SCALES

('fahrenhite', 'kelvin')